<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Xử lý dữ liệu 1000 bản ghi</h1>
<ul>
    <li><a href="/devhanoisaigoshanghai">Nhóm developer theo từng thành phố</a></li>
    <li><a href="/youngestdevs">Thanh pho co do tuoi trung binh developer nho nhat</a></li>
    <li><a href="/malefemaleratio">Ty le nam nu theo thanh pho</a></li>
    <li><a href="/avgsalarypeopleabove30">Muc luong trung binh cua tat ca nhung nguoi tren 30 tuoi</a></li>
</ul>
</body>
</html>